body {
    background-color: azure;
    grid-template-areas: 
    "columna-izquierda menu menu"
    "columna-izquierda columna-contenido columna-contenido"
    "columna-izquierda pie-pagina pie-pagina"
    ;
}

.sitio {
    display: grid;
    grid-template-columns: 30% ;
}

.menu {
    grid-area: menu;
}

.columna-izquierda {
    grid-area: columna-izquierda;

}

.columna-contenido {
    grid-area: columna-contenido;
    h3 {
        font-size: medium;
        color: #6256A0;
    }
}

.ficha-tecnica {
    grid-area: ficha-tecnica;

    h1 {
        font-size: larger;
        color: #6256A0;

    }
}


.pie-pagina {
    grid-area: pie-pagina;
    background-color: black;
    h6 {
        font-size: smaller;
        color: #ffffff;
    }
}

.tab {
border: 2px solid;
border-color: blueviolet;
background-color: aquamarine;
margin: 10px;
}

.menu-items {
    display: flex;
    justify-content: end;

}

.redes-sociales {
    display: flex;
    justify-content: end;
}

.redes-sociales img {
    width: 50px;
}

.logo {
    img {
        width: 200px;
    }
}
